.about {
  text-align: center;
  letter-spacing: -0.5px;
  padding: 152px 0;
  max-width: 1205px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    padding: 70px 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 69px;
    padding-bottom: 35px;
  }
}

.about h2 {
  color: $special-black;
  margin-bottom: 50px;
  letter-spacing: -0.2px;

  @media (max-width: $desktop-width) {
    margin-bottom: 33px;
    letter-spacing: -0.1px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
    letter-spacing: 0.01px;
  }
}

.about ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  counter-reset: section;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 90px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.about li {
  @media (max-width: $desktop-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: 41px;
  }
}

.about li::before {
  counter-increment: section;
  content: "0" counter(section);
  color: $basic-green;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: -1.27px;
}

.about p {
  color: $basic-black;
  font-size: 22px;
  line-height: 34px;
  margin: 0 auto;
  padding-top: 12px;
  max-width: 262px;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}
