.contacts {
  text-align: center;
}

.contacts__title {
  color: $special-black;
  margin-bottom: 30px;

  @media (max-width: $desktop-width) {
    margin-bottom: 15px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.contacts__description {
  font-size: 17px;
  line-height: 31px;
  font-weight: 400;
  color: rgba($basic-black, 0.7);
  margin: 0 auto;
  margin-bottom: 41px;
  max-width: 555px;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
    max-width: none;
  }

  @media (max-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 19px;
  }
}

.contacts__list {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4px;

  @media (max-width: $desktop-width) {
    padding-top: 0;
    margin-top: -3px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 0;
  }
}

.contacts__item {

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.contacts__item:first-child {
  margin-left: 20px;
  margin-right: 77px;

  @media (max-width: $desktop-width) {
    margin-left: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__mail,
.contacts__tel {
  margin: 0;
  color: rgba($basic-black, 0.5);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__mail {
  padding-left: 44px;
  padding-right: 12px;
  background-image: url("../img/mail.svg");

  @media (max-width:$tablet-width) {
    padding-left: 44px;
    padding-right: 0px;
    background-position: 4px 0;
  }
}

.contacts__tel {
  padding-left: 38px;
  padding-right: 38px;
  background-image: url("../img/tel.svg");
  background-position: 0 0;

  @media (max-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 12px;
  }
}

.contacts__map-wrapper {
  width: 957px;
  height: 530px;
  margin-bottom: 25px;
  background: url("../img/content/map-desktop@1x.jpg") no-repeat center;

  @media (min-resolution: 2dppx) {
    background: url("../img/content/map-desktop@2x.jpg") no-repeat cover;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 14px;
    width: 698px;
    height: 545px;
    cursor: pointer;
    background: url("../img/content/map-tablet@1x.jpg") no-repeat center;

    @media (min-resolution: 2dppx) {
      background: url("../img/content/map-tablet@2x.jpg") no-repeat cover;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
}
