.form {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 327px;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    padding: 0 16px;
  }
}

.form__description {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 18px;

  @media (max-width: $desktop-width) {
    padding: 0;
    margin-top: 70px;
    margin-bottom: 29px;
    color: $basic-black;
    letter-spacing: .5px;
  }

  @media (max-width:$tablet-width) {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.form input {
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 100%;
  color: $input-grey;
  font-family: $font-primary;
  font-size: 15px;
  line-height: 24px;
  border-radius: 6px;
  border: none;

  &:hover {
    opacity: 0.95;
  }

  &:active {
    opacity: 0.85;
  }

  &:invalid {
    outline: 2px solid $status-error;
  }

  @media (max-width:$desktop-width) {
    border: 1px solid $input-grey2;
    max-width: 320px;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 18px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 23px;
    padding-top: 13px;
    padding-bottom: 11px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

.form__button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 47px;
  padding-right: 47px;
  background-color: $basic-green;
  font-size: 15px;
  line-height: 24px;
  font-family: $font-primary;
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width:$desktop-width) {
    max-width: 320px;
    margin-top: 1px;
    letter-spacing: 0px;
    padding-left: 46px;
    padding-right: 43px;
    margin-left: 3px;
  }

  @media (max-width:$tablet-width) {
    line-height: 21px;
    margin-top: -3px;
    margin-left: 0px;
    padding-left: 28px;
    padding-right: 31px;
    padding-bottom: 16px;
    max-width: 286px;
  }
}
