.page-footer {
  padding-top: 151px;
  padding-bottom: 96px;
  margin-top: auto;

  @media (max-width: $desktop-width) {
    padding-top: 64px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 35px;
  }
}
