.page-header {
  color: $basic-white;
  background-color: $basic-dark-grey;
  background-image: url("../img/bike-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-bg-desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: none;
    background-color: $basic-white;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 100%;
  }
}

.page-header__info {
  padding-top: 255px;
  padding-bottom: 220px;

  @media (max-width: $desktop-width) {
    position: relative;
    background-color: $basic-dark-grey;
    background-image: url("../img/bike-bg-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-bg-desktop@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bike-bg-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-bg-mobile@2x.jpg");
    }
  }
}

.page-header__info a {
  display: inline-block;

  @media (max-width: $desktop-width) {
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute;
    left: 21px;
    top: 15px;
  }

  @media (max-width: $tablet-width) {
    left: 18px;
  }
}

.page-header h1 {
  margin-top: 25px;
  margin-bottom: 24px;
  max-width: 393px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 800;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
    max-width: 525px;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 134px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 121px;
  }
}

.page-header__info p {
  max-width: 381px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
    max-width: 435px;
    font-size: 18px;
    margin-bottom: 80px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
    margin-bottom: 69px;
  }
}
