.video {
  text-align: center;
  color: $basic-white;
  padding-top: 120px;
  position: relative;
  letter-spacing: -0.1px;
  background: linear-gradient(to bottom, $basic-dark-grey 87.8%, $basic-white 87.8%);

  @media (max-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 0;
    background: linear-gradient(to bottom, $basic-dark-grey 83%, $basic-white 83%);
  }

  @media (max-width: $tablet-width) {
    padding-top: 78px;
    padding-bottom: 28px;
  }
}

.video__title {
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.video__description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 56px;
  color: rgba($basic-white, 0.7);
  display: flex;
  max-width: 340px;

  @media (max-width: $desktop-width) {
    max-width: 430px;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 56px;
  }
}

.video__popup {
  display: flex;
  margin: 0 auto;
  width: 929px;
  height: 522px;
  background-color: $basic-black;
  background-image: url("../img/bike-video@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  align-items: center;
  justify-content: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-video@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 161px;
  }
}

.video__link {
  cursor: pointer;
}

.video__play {
  margin-top: 6px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-top: 6px;
  }

  @media (max-width: $tablet-width) {
    width: 65px;
    height: 65px;
    margin-top: 3px;
  }
}
