.contacts {
  text-align: center;
}

.contacts__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $special-black;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width:$tablet-width) {
    font-size: 18px;
  }
}

.contacts__description {
  font-size: 17px;
  line-height: 31px;
  font-weight: 400;
  color: rgba($basic-black, 0.7);
  margin: 0 auto;
  margin-bottom: 42px;
  max-width: 555px;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
    max-width: none;
  }

  @media (max-width:$tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contacts__map {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  cursor: pointer;

  @media (max-width:$desktop-width) {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 18px;
  }

  @media (max-width:$tablet-width) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.contacts__list {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width:$tablet-width) {
    flex-direction: column;
  }
}

.contacts__item {
  @media (max-width:$tablet-width) {
    margin-bottom: 15px;
  }
}

.contacts__mail, .contacts__tel {
  margin: 0;
  color: rgba($basic-black, 0.5);
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 20px;
    top: 2px;
    left: -41px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}

.contacts__mail {
  margin-left: 24px;
  margin-right: 124px;

  &::before {
    background-image: url("../img/mail.svg");
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-left: 48px;
  }
}

.contacts__tel {
  &::before {
    width: 22px;
    height: 22px;
    top: 0;
    left: -36px;
    background-image: url("../img/tel.svg");
  }

  @media (max-width: $desktop-width) {
    left: 6px;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    margin-left: 14px;
  }
}
