.form__description {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 18px;
  letter-spacing: 1;

  @media (max-width: $desktop-width) {
    padding: 0;
    margin-top: 70px;
    margin-bottom: 27px;
    color: $basic-black;
    letter-spacing: 0.3px;
  }

  @media (max-width:$tablet-width) {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.form__input {
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 100%;
  color: $input-grey;
  font-family: $font-primary;
  font-size: 15px;
  line-height: 24px;
  border-radius: 6px;
  border: none;

  @media (max-width:$desktop-width) {
    border: 1px solid $input-grey2;
    max-width: 320px;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 23px;
    padding-top: 13px;
    padding-bottom: 11px;
    line-height: 21px;
  }
}

.form__button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 47px;
  padding-right: 47px;
  background-color: $basic-green;
  font-size: 15px;
  line-height: 24px;
  font-family: $font-primary;
  font-weight: 600;
  outline: none;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  @media (max-width:$desktop-width) {
    max-width: 320px;
    margin-top: -2px;
  }

  @media (max-width:$tablet-width) {
    line-height: 21px;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 2px;
  }
}
