.main-nav {
  border-bottom: 2px solid rgba($basic-white, 0.2);
  padding: 0 10px;
  margin-bottom: 255px;
  grid-column: 1 / 3;

  @media (max-width: $desktop-width) {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 400;
  padding: 0 14px;
  font-size: 16px;
  line-height: 32px;
  padding-top: 21px;
  padding-bottom: 8px;
  opacity: 0.7;
  font-weight: 300;
}

.main-nav__list--closed {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list--opened {
  @media (max-width: $desktop-width) {
    padding: 0;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    background-color: $basic-white;
    opacity: 1;
    color: $site-list-item;
  }
}

.main-nav__list--nojs {
  @media (max-width: $desktop-width) {
    display: flex;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 15;
    background-color: $basic-white;
    opacity: 1;
    color: $site-list-item;
  }
}

.main-nav__button {
  display: none;

  @media (max-width:$desktop-width) {
    display: block;
    z-index: 1000;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }
}

.main-nav__button--closed {
  background: $basic-green;
}

.main-nav__button--opened {
  background: transparent;
  position: fixed;
}

.main-nav__button--nojs {
  display: none;
}

.main-nav__toggle {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    z-index: 12;
    right: 0;
    bottom: 0;
    height: 1px;
  }
}

.main-nav__toggle--closed {
  @media (max-width: $desktop-width) {
    width: 22px;
    background-color: $basic-black;
    top: 25px;
    left: 14px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 1px;
    z-index: 12;
    background-color: $basic-black;
  }

  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 1px;
    z-index: 12;
    background-color: $basic-black;
  }
}

.main-nav__toggle--opened {
  @media (max-width: $desktop-width) {
    width: 30px;
    background-color: rgba(#141517, 0.2);
    top: 25px;
    left: 10px;
    transform: rotate(-45deg);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 1px;
    z-index: 12;
    transform: rotate(90deg);
    background-color: rgba(#141517, 0.2);
  }
}
