$basic-white: #ffffff;
$basic-grey: rgba(28, 28, 28, 1);
$basic-green: #0ad9c6;
$basic-black: #000000;
$basic-dark-grey: #131314;
$special-black: #1f1f1f;
$input-grey: #1c1c1c;
$input-grey-2: #c9ccd4;
$site-list-item: #48494d;
$special-grey: #f6f7f9;
$special-grey-2: #f6f6f6;
$status-error: #ff0000;

$font-primary: "Open Sans", "Arial", sans-serif;

$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
