$basic-white: #FFFFFF;
$basic-grey: rgba(28, 28, 28, 1);
$basic-green: #0AD9C6;
$basic-black: #000000;
$basic-dark-grey: #131314;
$special-black: #1F1F1F;
$input-grey: #1C1C1C;
$input-grey2: #C9CCD4;
$site-list-item: #48494D;

$font-primary: "Open Sans", "Arial", sans-serif;

$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
